body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #20563a;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    
}

nav a:hover {
    color: #cfdc4a; /* Uma cor clara para o efeito de hover */
}

h1, h2 {
    color: #2c3e50;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #572b2b;
    color: #fff;
}

/*logo e bandeira*/
.BandeiraLogo {
    display: flex;
    align-items: center;   
}

/*parte das paginas na nav*/
.PaginasNav {
    display: flex;        
    align-items: center;   
    margin-left: auto;   
    margin-top: -10px;

}

