body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #20563a;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    color: #cfdc4a;
}

h2 {
    color: #20563a;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #572b2b;
    color: #fff;
}

/*logo-link para a nav*/
.BandeiraLogo {
    display: flex;
    align-items: center;
}

/*layout da nav*/
.PaginasNav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 5px;
}

/* Container para os cards com layout flex */
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* Estilos dos cards */
.Card1Index, .Card2Index {
    width: 80%;              
}

.card {
    border: 4px solid #20563a;
    border-radius: 8px;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;             
    margin: 10px;              
}

.card-title {
    color: #20563a;
    font-weight: bold;
    font-size: 1.5rem; 
    font-style: italic;
}

.card-img {
    width: 100%;          
    height: auto;          
    border-radius: 18px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
